<script setup lang="ts">
  import Questions from '../components/Questions.vue'
  import { useLogin } from '../stores/login';
  const login = useLogin();

</script>

<template>
  <h1>Questions</h1>
  <h3>please {{login.user.firstname}} take 5 min to answer</h3>
  <Questions></Questions>
</template>