<script setup>
  import { ref } from 'vue'
  import { useLogin } from './stores/login';
  const tab = ref('')
  const login = useLogin()

</script>

<template>
  <q-ajax-bar></q-ajax-bar>
  <nav>
    <q-toolbar class="bg-purple text-white shadow-2 rounded-borders">
      <q-btn flat :label="login.user.firstname"></q-btn>
      <q-space/>
      <q-tabs v-model="tab" class="shrink stretch">
        <q-route-tab to="/" name="home" icon="home" label="Home" />
        <q-route-tab v-if="login.user.isAuthenticated" to="/questions" name="questions" icon="quiz" label="Questions" />
        <q-route-tab v-if="login.user.isSuperuser" href="/admin" name="admin" icon="admin_panel_settings" label="Admin" />
        <q-route-tab v-if="!login.user.isAuthenticated" href="/login" name="login" icon="login" label="Login" />
        <q-route-tab v-else href="/logout" name="logout" icon="logout" label="Logout" />
      </q-tabs>
    </q-toolbar>

  </nav>

  <RouterView></RouterView>
  
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
