<script setup lang="ts">


import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useLogin } from '../../stores/login';

const loginStore = useLogin();
const password = ref('');
const router = useRouter()

function login(){
  loginStore.login(password.value);
  router.push({name:'home'})
}
</script>


<template>
  <h1>Login</h1>
  <q-form @submit.prevent="login()">
    <q-input color="primary" id="username" v-model="loginStore.user.username" type="text" label="username" autofocus />
    <q-input color="primary" id="password" type="password" v-model="password" label="Password" />

    <q-card-actions align="right" class="text-primary">
      <q-btn color="primary" id="login-btn" flat label="Login" type="submit" v-close-popup />
    </q-card-actions>
  </q-form>
  <div class="bg-negative text-white" v-if="loginStore.error"><q-icon name="warning"/>Error:{{ loginStore.error }} status:{{loginStore.status}}</div>

</template>

