<script setup lang="ts">
import { useLogin } from '../../stores/login'

const login = useLogin();

await login.logout();

</script>


<template>
  <h1 v-if="login.user.isAuthenticated">Loging out...</h1>
  <h1 v-else>safely logged out</h1>
</template>