{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% vite_hmr_client %}
    {% vite_asset 'js/main.ts' %}
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}My django-vite site{% endblock %}</title>
</head>

<body>
    <header id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/polls/">Polls</a></li>
            <li><a href="/admin/">admin</a></li>
        </ul>
        {% endblock %}
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="app">
        <button @click="count++">
          Count is: {{ count }}
        </button>
    </div>
</body>
</html>