<script setup lang="ts">
import { date } from 'quasar';
const props = defineProps({
    question:Object
})
</script>
<template>
    <q-card class="question-card bg-secondary text-white">
        <q-card-section>{{question!.question_text}}</q-card-section>
        <q-card-section><q-badge>{{date.formatDate(question!.pub_date,'DD-MM-YYYY')}}</q-badge></q-card-section>
        <q-btn label="Répondre" icon="question_answer"></q-btn>
    </q-card>
</template>

<style scoped>
.pub_date {
    text-align: right;
}
.question-card {
  width:100%;
  max-width:250px
}
</style>