<script setup lang="ts">
import Question from './Question.vue';
import { useAxios } from '@vueuse/integrations/useAxios'

const { data } = useAxios('/api/v1/questions/',{withCredentials:true})

</script>

<template>
     <div class="q-pa-md row items-start q-gutter-md">
         <Question v-for="q in data" :question="q"></Question>
     </div>
</template>